<h2>Historia</h2>
<!--
    if there is anything in the history we display it
     in addition, we use pipes to do a filter by action and sorting (pipes.ts file)
-->
<div *ngIf="history.length > 0">
  Filtruj akcje:
  <input
    id="term"
    name="term"
    [(ngModel)]="term"
    placeholder="Zacznij pisać..."
  />
  <table id="gameplay-table">
    <thead>
      <tr>
        <th>Akcja</th>
        <!-- here is a link for sorting - each click changes direction calls the toggleOrder () function -->
        <th>
          Czas
          <a
            id="sort-button"
            href="javascript:return false;"
            (click)="toggleOrder()"
            >[ Sortuj ]</a
          >
        </th>
        <th>Punkty</th>
      </tr>
    </thead>
    <tr *ngFor="let entry of history | filter: term | sort: order">
      <td>{{ entry.action }}</td>
      <td>{{ entry.timestamp | date: "dd/MM/yyyy HH:mm:ss" }}</td>
      <td>{{ entry.points }}</td>
    </tr>
  </table>
</div>
<!-- if nothing is in history we display a message -->
<div *ngIf="history.length == 0">
  <p><b>Brak danych.</b></p>
  <br /><br />
  <h1>Wciśnij ENTER by zacząć</h1>
</div>
