<div class="center">
  <h3>Welcome in the Tetris World</h3>
  <p>Please put your name and an e-mail to play!!!</p>

  <form class="form" #loginForm="ngForm" (submit)="verify(loginForm.form)">
    <div class="input-container">
      <label for="name">Your name:</label>
      <input
        ngModel
        #nameInput="ngModel"
        required
        type="email"
        name="name"
        id="name"
        placeholder="Enter your name"
        minlength="3"
        [disabled]="loginForm.submitted"
      />
      <div class="alert">
        <div
          *ngIf="
            !nameInput.valid && nameInput.touched && nameInput.value === ''
          "
        >
          Name is required
        </div>
        <div
          *ngIf="
            !nameInput.valid &&
            nameInput.touched &&
            nameInput.value.length < 3 &&
            nameInput.value != ''
          "
        >
          Name must be at least 3 characters long
        </div>
      </div>
      <div class="valid">
        <div
          *ngIf="
            nameInput.valid && nameInput.touched && nameInput.value.length >= 3
          "
        >
          Name is valid
        </div>
      </div>
    </div>

    <div class="input-container">
      <label for="email">Your e-mail:</label>
      <input
        ngModel
        #emailInput="ngModel"
        required
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your e-mail"
        [disabled]="loginForm.submitted"
      />
      <div class="alert">
        <div
          *ngIf="
            !emailInput.valid && emailInput.touched && emailInput.value === ''
          "
        >
          e-mail is required
        </div>
        <div
          *ngIf="
            !emailInput.valid &&
            emailInput.touched &&
            emailInput.value != '' &&
            !loginForm.submitted
          "
        >
          e-mail is invalid
        </div>
      </div>
      <div class="valid">
        <div *ngIf="emailInput.valid && emailInput.touched">
          e-mail is valid
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>
</div>
